/* about button */
.nav-about div.container{
    margin-left: 0;
}
.nav-menu {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 10;
}
button.nav-menu:focus {
    outline: 0;
}
/* about modal */
.modal-about .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

/* SIDE MENU */

/* side menu buttons */
.side-menu-button-group button.btn.btn-default {
    background: transparent;
    border-style: none;
    margin-top: 30px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}
/* remove button outline when clicked */
.side-menu-button-group button.btn.btn-default:focus {
    outline: 0;
}
/* Position and sizing of burger button */
.bm-burger-button {
    /* prevent menu from opening by clicking anywhere on the screen */
    position: fixed;
}  
/* Color/shape of burger icon bars */
/* .bm-burger-bars {
    background: #373a47;
} */
/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 30px !important;
    width: 30px !important;
}
/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
    height: 20px !important;
}
/* General sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}
/* Wrapper for item list */
.bm-item-list {
    padding: 0.8em;
}
#backgroundDiv{
    transition: background 1000ms ease-in-out;
}