/* nav buttons */
.nav-about, .nav-menu {
    position: absolute;
    background: transparent !important;
    border-style: none !important;
    z-index: 10;
}
/* about button */
.nav-about {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
/* menu button */
.nav-menu {
    position: absolute;
    top: 20px;
    right: 20px;
}
button.nav-about:focus, button.nav-menu:focus {
    outline: 0 !important;
}
/* about modal */
.modal-about .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

/* SIDE MENU */

/* side menu buttons */
.side-menu-button-group button.btn.btn-default {
    background: transparent;
    border-style: none;
    margin-top: 30px;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
}
/* remove button outline when clicked */
.side-menu-button-group button.btn.btn-default:focus {
    outline: 0;
}
/* Position and sizing of burger button */
.bm-burger-button {
    /* prevent menu from opening by clicking anywhere on the screen */
    position: fixed;
}
/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 30px !important;
    width: 30px !important;
}
/* Color/shape of close button cross */
.bm-cross {
    background: #bdc3c7;
    height: 20px !important;
}
/* General sidebar styles */
.bm-menu {
    background: #373a47;
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
}
/* Wrapper for item list */
.bm-item-list {
    padding: 0.8em;
}
#backgroundDiv{
    transition: background 1000ms ease-in-out;
}
@media screen and (max-width: 320px) {
    .bm-menu-wrap {
        width: 200px !important;
    }
}
@media screen and (max-height: 669px) {
    .bm-menu-wrap button.btn.btn-default {
        padding: 0 0 0.2vh 0;
    }
    .bm-item svg {
        width: 5vh;
        height: 5vh;
        min-width: 24px;
        min-height: 24px;
    }
}