.square {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    margin: 0 auto;
    max-width: 600px;
    max-height: 600px;
    box-shadow: 8px 8px 20px 2px rgba(85, 85, 85, 0.5);
    z-index: 10;
}  
.square:after {
    content: "";
    display: block;
    padding-bottom: 100%;
    
}
.content {
    position: absolute;
    width: 100%;
    height: 100%;
}
img {
    width: 100%;
    height: 100%;
}

#fade{
    transition: background-color 1000ms ease-in-out;
}
