.vai-container {
    display: -webkit-flex;
    display: flex;
    justify-content: space-around;
}
.vai-art {
    width: 65%;
    margin: 0 100px 30px 100px;
    min-width: 250px;
    min-height: 250px;
    max-width: 500px;
    max-height: 500px;
    box-shadow: 8px 8px 20px 2px rgba(85, 85, 85, 0.5);
}
.vai-art img {
    width: 100%;
    height: 100%;
}
.vai-info {
    width: 35%;
    text-align: left;
    text-shadow:  1px 1px 5px rgb(70, 70, 70);
}
.vai-content {
    position: absolute;
    display: -webkit-flex;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    top: 50%;
    transform: translate(0, -50%);
    width: 90%;
    z-index: 10;
}
@media screen and (max-width: 767px) {
    .vai-container {
        align-items: center;
    }
    .vai-content {
        flex-wrap: wrap;
    }
    .vai-art {
        height: 65%;
    }
    .vai-info {
        width: 100%;
        text-align: center;
    }
}
#textDiv{
    transition: color 1000ms ease-in-out;
}
